:root {
  margin: 0 0 0 0;
  font-size: 62.5%;
}
::before,
::after {
  box-sizing: border-box;
}

#navbar {
  max-width: 400px;
  max-height: 80vh;
  display: block;
  position: sticky;
  max-height: 20vh;
}

.h1 {
  font-size: 33rem;
}
.el1:hover {
  background-color: orange;
}
.el2:hover {
  background-color: cornflowerblue;
}
.el3:hover {
  background-color: green;
}
.el4:hover {
  background-color: blueviolet;
}
.el5:hover {
  background-color: darkcyan;
}
.el6:hover {
  background-color: rgba(214, 23, 144, 0.986);
}
.el7 {
  max-width: 350px;
}
.el8:hover {
  background-color: gold;
}
.el9:hover {
  background-color: lightblue;
}
#logo-beads {
  max-width: 30px;
  position: relative;
  margin-bottom: 5px;
}
h1 {
  font-size: 40rem;
  margin-top: 25px;
}
p,
ul {
  font-size: 1.6rem;
  padding-right: 50px;
  padding-left: 10px;
}

#main-doc {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.main-section {
  overflow-y: scroll;
}
#recording > header {
  background-color: orange;
}
#grain_generation > header {
  background-color: cornflowerblue;
}
#grain_playback_control > header {
  background-color: green;
}
#attenurandomizers > header {
  background-color: blueviolet;
}
#mixing_and_audio_output > header {
  background-color: darkcyan;
}
#beads_as_a_delay > header {
  background-color: rgba(214, 23, 144, 0.986);
}
#beads_as_a_granular_synth > header {
  background-color: gold;
}
#firmware_update_procedure > header {
  background-color: lightblue;
}
code {
  padding: 2px;
  border-radius: 3px;
  box-shadow: 3px 4px silver;
  font-weight: 600;
  margin-right: 3px;
}
#rec-p,
.float {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.6rem;
}
img:not(.el7, .beads) {
  max-height: 250px;
  padding: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
  text-align: center;
  font-size: 1.4rem;
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-brand2 {
  font-size: 1.6rem;
  padding: 0px 20px 0px 0px;
  color: white;
}

.nxnn {
  display: flex;
  justify-content: start;
  min-height: 5vh;
}

@media (max-width: 1999.98px) {
  section {
    padding-top: 55px;
  }
  #main-doc {
    display: flex;
  }
  p,
  ul > li:not(.nvblbl2) {
    min-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  b {
    margin-left: 20px;
  }

  img {
    max-height: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .float {
    flex-direction: row;
  }
  #rec-p {
    display: flex;
    flex-direction: column;
  }
  ul {
    background-color: rgba(192, 192, 192, 0.253);
  }
}
@media (max-width: 575.98px) {
  #main-doc {
    display: list-item;
  }
  p,
  ul {
    min-width: 330px;
    padding-right: 20px;
    padding-left: 20px;
  }
  b {
    margin-left: 20px;
  }
  img {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .float {
    flex-direction: column;
  }
  #rec-p {
    display: flex;
    flex-direction: column;
  }
  h1 {
    color: white;
  }
}
